
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{

    <!--Internal  Datetimepicker-slider css -->
    <link href="~/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet" />

    <!-- Internal Select2 css -->
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

    <!-- Internal Data table css -->
    <link href="../assets/plugins/datatable/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <link href="../assets/plugins/datatable/css/buttons.bootstrap4.min.css" rel="stylesheet">
    <link href="../assets/plugins/datatable/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="../assets/plugins/datatable/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="../assets/plugins/datatable/css/responsive.dataTables.min.css" rel="stylesheet">
}

<!-- container opened -->
<div class="container">
    <!-- breadcrumb -->
    <div class="breadcrumb-header justify-content-between">
        <div class="my-auto">
            <div class="d-flex">
                <h4 class="content-title mb-0 my-auto">Asset Management</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Dashboard</span>
            </div>
        </div>
    </div>
    <!-- breadcrumb -->
    <!-- row -->
    <div class="row" ng-app="AssetDashboardapp" ng-controller="AssetDashboardController">
        <div class="col-xl-12 col-lg-12">

            <!-- Pending Dashboard Code start-->

            <div class="card mg-b-20">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title mg-b-0">My Pending Request</h4>
                        <i class="mdi mdi-dots-horizontal text-gray"></i>
                    </div>
                </div>

                <div class="card-body">
                    <!--div class="row-sm">
                        <div class="col-sm-6 col-md-3 mg-t-10 float-right">
                            <button class="btn btn-dark btn-block">Add</button>
                        </div>
                    </div-->

                    <div class="row-sm text-center">
                        <div class="col-sm-6 col-md-2 mg-b-20 float-right">
                            <button class="btn btn-info btn-block" ng-click="addAsset()">Apply For Asset</button>
                        </div>
                    </div>


                    <div class="table-responsive">
                        <table id="pendingrequest" class="table key-buttons text-md-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">Serial No</th>
                                    <th class="border-bottom-0">Request No</th>
                                    <th class="border-bottom-0">Employee Name</th>
                                    <th class="border-bottom-0">Asset</th>
                                    <th class="border-bottom-0">Asset Type</th>
                                    <th class="border-bottom-0">Status</th>
                                    <th class="border-bottom-0">Request Date</th>
                                    <th class="border-bottom-0">Return Date</th>
                                    <th class="border-bottom-0">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int index = 1;}
                                @foreach (var j in ViewBag.assetsDataArr)
                                {
                                    <tr>
                                        <td>@index</td>
                                        <td ng-model="reqno">@j.RequestNo</td>
                                        <td>@j.fname @j.lname</td>
                                        <td>@j.Asset</td>
                                        <td>@j.AssetType</td>
                                        <td><span class="badge badge-dark">@j.Status</span></td>
                                        <td>@j.RequestDate</td>
                                        <td>@j.ReturnDate</td>
                                        <td>
                                            <div class="btn-icon-list">
                                                <button class="btn btn-primary btn-icon" ng-click="getEditData(@j.ID,'@j.InternalStatus')"><i class="far fa-edit"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    index++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- Pending Dashboard Code End-->
            <!-- My Request Dashboard Code start-->
            <div class="card mg-b-20">
                <div class="card-header pb-0">
                    <div class="d-flex justify-content-between">
                        <h4 class="card-title mg-b-0">My Request</h4>
                        <i class="mdi mdi-dots-horizontal text-gray"></i>
                    </div>
                </div>

                <div class="card-body">


                    <div class="table-responsive">
                        <table id="myrequest" class="table key-buttons text-md-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">Serial No</th>
                                    <th class="border-bottom-0">Request No</th>
                                    <th class="border-bottom-0">Employee Name</th>
                                    <th class="border-bottom-0">Asset</th>
                                    <th class="border-bottom-0">Asset Type</th>
                                    <th class="border-bottom-0">Status</th>
                                    <th class="border-bottom-0">Request Date</th>
                                    <th class="border-bottom-0">Return Date</th>
                                    <th class="border-bottom-0">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{int indexview = 1;}
                                @foreach (var j in ViewBag.assetsMyRequest)
                                {
                                    <tr>
                                        <td>@indexview</td>
                                        <td>@j.RequestNo</td>
                                        <td>@j.fname @j.lname</td>
                                        <td>@j.Asset</td>
                                        <td>@j.AssetType</td>
                                        <td><span class="badge badge-dark">@j.Status</span></td>
                                        <td>@j.RequestDate</td>
                                        <td>@j.ReturnDate</td>
                                        <td>
                                            <div class="btn-icon-list">
                                                <button class="btn btn-info  btn-icon" ng-click="getViewData(@j.ID)"><i class="far fa-eye"></i></button>
                                            </div>
                                        </td>
                                    </tr>
                                    indexview++;
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- My Request Dashboard Code End-->



        </div>
    </div>
    <input type="hidden" id="txtid" name="txtname" />
    <!-- row closed -->
</div>
<!-- Container closed -->


@section scripts{

    <!-- Internal Select2.min js -->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <script src="~/assets/js/select2.js"></script>

    <!--Internal  jquery-simple-datetimepicker js -->
    <script src="~/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>
    <script src="~/assets/js/datePicker.js"></script>

    <!-- Internal Data tables -->
    <script src="../assets/plugins/datatable/js/jquery.dataTables.min.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.dataTables.min.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="../assets/plugins/datatable/js/responsive.dataTables.min.js"></script>
    <script src="../assets/plugins/datatable/js/jquery.dataTables.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.bootstrap4.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.buttons.min.js"></script>
    <script src="../assets/plugins/datatable/js/buttons.bootstrap4.min.js"></script>
    <script src="../assets/plugins/datatable/js/jszip.min.js"></script>
    <script src="../assets/plugins/datatable/js/pdfmake.min.js"></script>
    <script src="../assets/plugins/datatable/js/vfs_fonts.js"></script>
    <script src="../assets/plugins/datatable/js/buttons.html5.min.js"></script>
    <script src="../assets/plugins/datatable/js/buttons.print.min.js"></script>
    <script src="../assets/plugins/datatable/js/buttons.colVis.min.js"></script>
    <script src="../assets/plugins/datatable/js/dataTables.responsive.min.js"></script>
    <script src="../assets/plugins/datatable/js/responsive.bootstrap4.min.js"></script>

    <!--Internal  Datatable js -->
    <script src="../assets/js/table-data.js"></script>

    <script src="~/Scripts/Angular/AssetManagement/JS/AssetDashboard.js"></script>

    <!-- initialize tables  -->
    <script>
        $('#pendingrequest').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_',
            }
        });

        $('#myrequest').DataTable({
            responsive: true,
            language: {
                searchPlaceholder: 'Search...',
                sSearch: '',
                lengthMenu: '_MENU_',
            }
        });
    </script>
}


