<div class="mg-b-50">
    <div class="row row-sm">
        <div class="col-sm-12 mg-b-20 text-right">
            <label for="First_Name">
                <span class="tx-bold">Status :</span>
                <span class="tx-white bg-primary p-1">@ViewBag.assetsView.Status</span>
            </label>
        </div>
    </div>

    <div class="row row-sm mg-b-20">
        <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Request No</label></span></div>
        <div class="col-lg-3"><label for="First_Name">@ViewBag.assetsView.RequestNo</label></div>
        <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Employee Name</label></span></div>
        <div class="col-lg-3"><label for="First_Name">@ViewBag.assetsView.fname @ViewBag.assetsView.lname</label></div>
    </div>

    <div class="row row-sm mg-b-20">
        <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Request Date</label></span></div>
        <div class="col-lg-3"><label for="First_Name">@(ViewBag.assetsView.RequestDate.ToString("dd/MM/yyyy"))</label></div>
        <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Return Date</label></span></div>
        <div class="col-lg-3"><label for="First_Name">@(ViewBag.assetsView.ReturnDate.ToString("dd/MM/yyyy"))</label></div>
    </div>
</div>

    <div class="row row-sm mg-b-50">
        <div class="col-lg-6"><h5 class="card-title mb-3">Assets Details</h5></div><div class="col-lg-6"></div>

        <div class="table-responsive text-center">
            <table class="table table-bordered mg-b-0 text-md-nowrap bordertable">
                <thead>
                    <tr>
                        <th scope="col">Sr. No.</th>
                        <th scope="col">Asset</th>
                        <th scope="col">Asset Type</th>
                        <th scope="col">Required Quantity</th>
                        <th scope="col">Reason To Apply</th>
                        <th scope="col">Asset Details</th>
                        <th scope="col">Replacement</th>
                    </tr>
                </thead>
                <tbody>
                    @{int indexview = 1;}
                   
                        @foreach (var item in ViewBag.assetsDetails)
                        {
                            <tr>
                                <td scope="row" data-label="ID">@indexview</td>
                                <td data-label="Asset">@item.Asset</td>
                                <td data-label="AssetType">@item.AssetType</td>
                                <td data-label="Qty">@item.UserApplyQuantity</td>
                                <td data-label="Reason">@item.ReasonToApply</td>
                                <td data-label="Details">@item.AssetDetails</td>
                                <td data-label="Replacement">@item.Replacement</td>
                            </tr>
                            indexview++;
                        }

                    </tbody>
            </table>
        </div>
    </div>
