<div class="row row-sm">
    <div class="col-sm-12 mg-b-20 text-right">
        <label for="First_Name">
            <span class="tx-bold">Status :</span>
            <span class="tx-white bg-primary p-1">@ViewBag.assetsView.Status</span>
        </label>
    </div>
</div>
<div class="row row-sm mg-b-20">
    <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Request No</label></span></div>
    <div class="col-lg-3"><label for="First_Name">@ViewBag.assetsView.RequestNo</label></div>
    <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Employee Name</label></span></div>
    <div class="col-lg-3"><label for="First_Name">@ViewBag.assetsView.fname @ViewBag.assetsView.lname</label></div>
</div>

<div class="row row-sm mg-b-20">
    <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Asset</label></span></div>
    <div class="col-lg-3"><label for="First_Name">@ViewBag.assetsView.Asset</label></div>
    <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Asset Type</label></span></div>
    <div class="col-lg-3"><label for="First_Name">@ViewBag.assetsView.AssetType</label></div>
</div>

<div class="row row-sm mg-b-20">
    <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Asset Count</label></span></div>
    <div class="col-lg-3"><label for="First_Name">@ViewBag.assetsView.AssetCount</label></div>
    <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Warranty</label></span></div>
    <div class="col-lg-3"><label for="First_Name">@ViewBag.assetsView.Warranty</label></div>
</div>

<div class="row row-sm mg-b-20">
    <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Request Date</label></span></div>
    <div class="col-lg-3"><label for="First_Name">@ViewBag.assetsView.RequestDate</label></div>
    <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Return Date</label></span></div>
    <div class="col-lg-3"><label for="First_Name">@ViewBag.assetsView.ReturnDate</label></div>
</div>

<div class="row row-sm mg-b-20">
    <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Reason To Apply</label></span></div>
    <div class="col-lg-3"><label for="First_Name">@ViewBag.assetsView.ReasonToApply</label></div>
    <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Asset Details</label></span></div>
    <div class="col-lg-3"><label for="First_Name">@ViewBag.assetsView.AssetDetails</label></div>
</div>
