
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section style{

    <!--Internal  Datetimepicker-slider css -->
    <link href="~/assets/plugins/amazeui-datetimepicker/css/amazeui.datetimepicker.css" rel="stylesheet" />

    <!-- Internal Select2 css -->
    <link href="~/assets/plugins/select2/css/select2.min.css" rel="stylesheet">

    <style>
        table .simpletable {
            border: 1px solid #ccc;
            border-collapse: collapse;
            margin: 0;
            padding: 0;
            width: 100%;
            table-layout: fixed;
        }

        .Stripedtable {
            border: 1px solid #ccc;
            table-layout: fixed;
            background: white;
            border-collapse: collapse;
            margin: 1.25em 0 0;
            width: 100%;
        }

        .table tr {
            padding: .35em;
        }

        .Stripedtable tr {
            padding: .35em;
        }

        table th,
        table td {
            padding: .625em;
            text-align: center;
        }

            table td input {
                padding: .625em;
                text-align: center;
                width: 50% !important;
                margin: auto !important;
            }

        table th {
            font-size: .85em;
            letter-spacing: .1em;
            text-transform: uppercase;
        }

        @@media screen and (max-width: 600px) {
            table {
                border: 0;
            }

                table caption {
                    font-size: 1.3em;
                }

                table thead {
                    border: none;
                    clip: rect(0 0 0 0);
                    height: 1px;
                    margin: -1px;
                    overflow: hidden;
                    padding: 0;
                    position: absolute;
                    width: 1px;
                }

                table tr {
                    display: block;
                    margin-bottom: .625em;
                }

                table td {
                    border-bottom: 1px solid #ddd;
                    display: block;
                    font-size: .8em;
                    text-align: right;
                    border-top: none;
                }

            .form-control table td input {
                width: 20px;
            }

            .form-control input::before {
                border-radius: 4px;
            }

            table td::before {
                /*
            * aria-label has no advantage, it won't be read inside a table
            content: attr(aria-label);
            */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
                padding-right: 70px;
            }

            table td input {
                margin-right: 0px !important;
            }

            table td:last-child {
                border-bottom: 0;
            }

            table td:first-child {
                border-top: 0;
            }
        }
    </style>

}

<form id="AllocateAssetForm" ng-app="AllocateAssetapp" ng-controller="AllocateAssetController">
    <!-- container opened -->
    <div class="container">

        <!-- breadcrumb -->
        <div class="breadcrumb-header justify-content-between">
            <div class="my-auto">
                <div class="d-flex">
                    <h4 class="content-title mb-0 my-auto">Asset Management</h4><span class="text-muted mt-1 tx-13 ml-2 mb-0">/ Allocate Asset</span>
                </div>
            </div>
        </div>
        <!-- breadcrumb -->
        <!-- row -->
        <div class="row">
            <div class="col-xl-12 col-lg-12">


                <!--Entry Code start-->
                <div class="card custom-card">
                    <div class="card-body">
                        <div class="card-body pt-0">
                            <div class="mg-b-50">
                                <div class="row row-sm">
                                    <div class="col-sm-12 mg-b-20 text-right">
                                        <label for="First_Name">
                                            <span class="tx-bold">Status :</span>
                                            <span class="tx-white bg-primary p-1">@ViewBag.assetsView.Status</span>
                                        </label>
                                    </div>
                                </div>

                                <div class="row row-sm mg-b-20">
                                    <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Request No</label></span></div>
                                    <div class="col-lg-3"><label for="First_Name">@ViewBag.assetsView.RequestNo</label></div>
                                    <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Employee Name</label></span></div>
                                    <div class="col-lg-3"><label for="First_Name">@ViewBag.assetsView.fname @ViewBag.assetsView.lname</label></div>
                                </div>

                                <div class="row row-sm mg-b-20">
                                    <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Request Date</label></span></div>
                                    <div class="col-lg-3"><label for="First_Name">@(ViewBag.assetsView.RequestDate.ToString("dd/MM/yyyy"))</label></div>
                                    <div class="col-lg-3"><span class="tx-bold"><label for="First_Name">Return Date</label></span></div>
                                    <div class="col-lg-3"><label for="First_Name">@(ViewBag.assetsView.ReturnDate.ToString("dd/MM/yyyy"))</label></div>
                                </div>
                            </div>

                            <div class="row row-sm mg-b-50">
                                <div class="col-lg-6"><h5 class="card-title mb-3">Assets Details</h5></div><div class="col-lg-6"></div>

                                <div class="table-responsive text-center">
                                    <table class="table table-bordered mg-b-0 text-md-nowrap bordertable">
                                        <thead>
                                            <tr>
                                                <th scope="col">Sr. No.</th>
                                                <th scope="col">Asset</th>
                                                <th scope="col">Asset Type</th>
                                                <th scope="col">Required Quantity</th>
                                                <th scope="col">Reason To Apply</th>
                                                <th scope="col">Asset Details</th>
                                                <th scope="col">Replacement</th>
                                                <th scope="col">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int indexview = 1;}

                                            @foreach (var item in ViewBag.assetsDetails)
                                            {
                                                <tr>
                                                    <td scope="row" data-label="ID">@indexview</td>
                                                    <td data-label="Asset">@item.Asset</td>
                                                    <td data-label="AssetType">@item.AssetType</td>
                                                    <td data-label="Qty">@item.UserApplyQuantity</td>
                                                    <td data-label="Reason">@item.ReasonToApply</td>
                                                    <td data-label="Details">@item.AssetDetails</td>
                                                    <td data-label="Replacement">@item.Replacement</td>
                                                    <td data-label="add">
                                                        @*<a class="btn ripple btn-secondary popup" data-target="#scrollmodal" data-toggle="modal" data-id="@indexview">Add</a>*@
                                                        <a class="btn ripple btn-secondary popup" data-toggle="modal" data-id="@indexview" data-qty="@item.UserApplyQuantity">Add</a>
                                                    </td>
                                                </tr>
                                                indexview++;
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>


                            <div class="table-responsive mg-b-20">
                                <table class="table simpletable table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Requested Quantity</th>
                                            <th scope="col">Available Stock</th>
                                            <th scope="col">Assign Quantity</th>
                                            <th scope="col">Previously Assign Quantity</th>
                                            <th scope="col">Pending Assign Quantity</th>
                                            @*<th scope="col">Stock Balance</th>*@
                                            <th scope="col">Remark</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td data-label="ReqQty"><label for="First_Name">@ViewBag.ReqQuantity</label></td>
                                            <td data-label="Stock1"><label for="First_Name">@ViewBag.assetsView.AssetTypeStock</label></td>
                                            <td data-label="AssignQty"><input required="" type="text" class="form-control" style="height:30px;" ng-model="AssignQty" /></td>
                                            <td data-label="PreAssignQty"><input type="text" class="form-control" style="height:30px;" readonly="readonly" />@ViewBag.prevQty</td>
                                            <td data-label="PendingAssignQty"><input type="text" class="form-control" style="height:30px;" readonly="readonly" /></td>
                                            @*<td data-label="stockbal"><input type="text" class="form-control" style="height:30px;" readonly="readonly" /></td>*@
                                            <td data-label="Remark"><input type="text" class="form-control" style="height:30px;" /></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>


                            @*show history data*@
                            @Html.Partial("ViewHistoryData")


                            <div class="row row-sm text-center">
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-3">
                                    <button class="btn btn-primary btn-block">Allocate Asset</button>
                                </div>
                                <div class="col-lg-3">
                                    <button class="btn btn-light btn-block">Cancel</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Entry Code End-->

            </div>
        </div>
        <!-- row closed -->
    </div>
    <!-- Container closed -->
    <!-- Scroll with content modal -->
    <div class="modal" id="scrollmodal">
        <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content modal-content-demo">
                <div class="modal-header">
                    <h6 class="modal-title">Allocate Details</h6><button aria-label="Close" class="close" data-dismiss="modal" type="button"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body">

                    <div class="row row-sm">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Institute">Assign Quantity</label><input type="text" class="form-control" style="height:30px;" id="txtAssignQty" ng-model="ngtxtAssignQty" ng-blur="getPendingQty()" />
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Institute">Previously Assign Quantity</label><input type="text" class="form-control" style="height:30px;" id="txtPrevAssignQty" ng-model="ngtxtPrevAssignQty" readonly="readonly" />
                            </div>
                        </div>
                    </div>

                    <div class="row row-sm">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Percentage">Pending Assign Quantity</label><input type="text" class="form-control" style="height:30px;" id="txtPendingAssignQty" ng-model="ngtxtPendingAssignQty" readonly="readonly" />
                            </div>
                        </div>

                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Education_From_Date">Product Serial No</label><input type="text" class="form-control" id="txtProdSrNo" ng-model="ngtxtProdSrNo" style="height:30px;" />
                            </div>
                        </div>
                    </div>

                    <div class="row row-sm">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Education_From_Date">Model No</label><input type="text" class="form-control" id="txtModelNo" ng-model="ngtxtModelNo" style="height:30px;" />
                            </div>
                        </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Education_From_Date">Warranty(Expiry date)</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="typcn typcn-calendar-outline tx-24 lh--9 op-6"></i>
                                            </div>
                                        </div><input required="" class="form-control" id="txtwarrantydate" ng-model="ngtxtwarrantydate" type="text" ng-blur="getDays()">
                                    </div>
                                </div>
                            </div>
                    </div>

                    <div class="row row-sm">
                        <div class="col-lg-6">
                            <div class="form-group">
                                <label for="Education_From_Date">Warranty(In Days)</label><input type="text" class="form-control" id="txtMon" ng-model="ngtxtMon" style="height:30px;" disabled />
                            </div>
                        </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label for="Education_From_Date">Remark</label><input type="text" class="form-control" id="txtRemark" ng-model="ngtxtRemark" style="height:30px;" />
                                </div>
                            </div>
                        </div>
                    </div>


                <div class="modal-footer justify-content-center">
                    <button class="btn ripple btn-primary" type="button" data-dismiss="modal" ng-click="SaveData()">Save changes</button>
                    <button class="btn ripple btn-secondary" data-dismiss="modal" type="button" ng-click="Close()">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--End Scroll with content modal -->


</form>

@section scripts{
    <!--Internal  Parsley.min js -->
    <script src="../assets/plugins/parsleyjs/parsley.min.js"></script>

    <!--Internal  jquery-simple-datetimepicker js -->
    <script src="~/assets/plugins/amazeui-datetimepicker/js/amazeui.datetimepicker.min.js"></script>
    <script src="~/assets/js/datePicker.js"></script>

    <script src="~/Scripts/Angular/AssetManagement/JS/AllocateAsset.js"></script>

}
